#!/bin/bash

# Mount the disk image
mkdir -p {{ VBoxGuestAdditions_mnt }}
mount -o loop {{ VBoxGuestAdditions_iso_remote }} {{ VBoxGuestAdditions_mnt }}

# Install the drivers
{{ VBoxGuestAdditions_mnt }}/VBoxLinuxAdditions.run

# Cleanup
umount {{ VBoxGuestAdditions_mnt }}
rm -rf {{ VBoxGuestAdditions_mnt }} {{ VBoxGuestAdditions_iso }}